body {
    background-color: #313131;
    margin: 0px;
    color: whitesmoke;
    font-family: 'minecraftregular-bmg3';
    /* font-family: 'sweet_sensations_personal_uRg'; */
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s;
}
a:hover {
    color: #35c2f2;
}
a:focus {
    text-decoration: none;
}
a > p {
    display: none;
}
.page-content {
    font-family: 'minecraftregular-bmg3';
    font-size: 30px;
    margin: 30px 30px;
}

.dropdowntext {
    color: #6dc96d;
}
.dropdowncontent {
    transform: translate(-1000px, 75%);
    position: absolute;
    color: transparent;
    font-size: 0px;
    max-width: 50px;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}
.dropdowntext:hover .dropdowncontent {
    transform: translate(-75%, 90%);
    background-color: #121212;
    max-width: 506px;
    font-size: 17px;
    color: #97da97;
}
.dropdowntext:hover .dropdowncontent.specialdropdown {
    transform: translate(-63%, 70%);
}
.dropdownspace {
    color: transparent;
    position: absolute;
    transform: translate(-10px, -100%);
    width: 100%;
    height: 50%;
    z-index: -1;
}
.dropdowntriangle {
    text-transform: none;
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-7px, -75%) rotate(45deg);
    z-index: -1;
    background-color: transparent;
    border-radius: 3px;
    transition: 1s;
}
.dropdowntext:hover .dropdowntriangle {
    transform: translate(900%, -75%) rotate(45deg);
    background-color: #121212;
    width: 27px;
    height: 27px;
}

@font-face {
    font-family: 'sweet_sensations_personal_uRg';
    src: url('../misc/fonts/sweet_sensations_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'minecraftregular-bmg3';
    src: url('../misc/fonts/minecraftregular-bmg3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}