/* module type */
h1 {
    padding: 30px 0px 20px 0px;
    font-size: 100px;
    margin: 0px;
    text-align: center;
}

/* warnings */
.warnings > .title {
    color: red;
    font-size: 50px;
}
.warnings > .title .warning {
    text-decoration: underline;
}
.warnings > .title .nowarnings {
    display: none;
}
.warnings > .title.nowarnings .nowarnings{
    color: green;
    text-decoration: underline;
    display: block;
}
.warnings > .title.nowarnings .warning{
    display: none;
}
.warnings > .title > .desc {
    font-size: 40px;
}
.warnings > .title > .desc ul {
    margin: 20px 0px;
}
.warnings > .title.nowarnings .desc {
    display: none;
}

/* module desc */ 
.page-content > .desc {
    font-size: 30px;
    margin-top: 30px;
}
.dropdowntext {
    color: #6dc96d;
}
.dropdowncontent {
    transform: translate(-1000px, 75%);
    position: absolute;
    color: transparent;
    font-size: 0px;
    max-width: 50px;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}
.dropdowntext:hover .dropdowncontent {
    transform: translate(-75%, 75%);
    background-color: #121212;
    max-width: 506px;
    font-size: 17px;
    color: #97da97;
}
.dropdownspace {
    color: transparent;
    position: absolute;
    transform: translate(-10px, -100%);
    width: 100%;
    height: 50%;
    z-index: -1;
}
.dropdowntriangle {
    text-transform: none;
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-7px, -75%) rotate(45deg);
    z-index: -1;
    background-color: transparent;
    border-radius: 3px;
    transition: 1s;
}
.dropdowntext:hover .dropdowntriangle {
    transform: translate(900%, -75%) rotate(45deg);
    background-color: #121212;
    width: 27px;
    height: 27px;
}
/* module settings */
.toggle::before {
    font-family: "fontawesome";
    content: "\f14a";
    padding-right: 7px;
}
.range {
    padding-bottom: 10px;
}
.range > .value1 {
    font-size: 25px;
}
.range > .value1::after {
    content: "-";
    font-size: 25px;
    padding-left: 12px;
}
.range > .value2 {
    font-size: 25px;
}

/* module usage */
.howto > .title {
    font-size: 40px;
    padding: 30px 0px 10px 0px;
}
.howto > .enable {
    padding-left: 30px;
}

/* module examples */
.examples {
    font-size: 40px;
    padding-top: 40px;
}
.examples > .example {
    font-size: 30px;
    padding-left: 30px;
}
.examples > .example.first {
    padding-top: 10px;
}